/* Universal font for webpages */

* {
    font-family: Tahoma, 'Times New Roman', Times, serif
}

/* Centering content on webpages */

body {
    background-color: lightblue;
    margin-left: 30px;
    margin-right: 30px;
}

nav {
    border-radius: 25px;
}

h2 {
    text-align: center;
}

#box {
    background-color: white;
    border-radius: 25px;  
}

#profilepic {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

/* .links {
    text-align: center;
} */

/* Footer styling */

#contactInfo {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    padding: 15px;
    background-color: white;
    border-radius: 25px;
  }